In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/spider/train_spider.json
/kaggle/input/spider/train_others.json
/kaggle/input/spider/dev_gold.sql
/kaggle/input/spider/dev.json
/kaggle/input/spider/README.txt
/kaggle/input/spider/train_gold.sql
/kaggle/input/spider/tables.json
/kaggle/input/spider/spider/test_database/solvency_ii/solvency_ii.sqlite
/kaggle/input/spider/spider/test_database/solvency_ii/schema.sql
/kaggle/input/spider/spider/test_database/voter_1/voter_1.sqlite
/kaggle/input/spider/spider/test_database/concert_singer/concert_singer.sqlite
/kaggle/input/spider/spider/test_database/concert_singer/schema.sql
/kaggle/input/spider/spider/test_database/apartment_rentals/apartment_rentals.sqlite
/kaggle/input/spider/spider/test_database/apartment_rentals/schema.sql
/kaggle/input/spider/spider/test_database/flight_1/flight_1.sqlite
/kaggle/input/spider/spider/test_database/flight_1/schema.sql
/kaggle/input/spider/spider/test_database/country_language/schema.sql
/kaggle/input/spider/spider/test_database/country_language/country_language.sqlite
/kaggle/input/spider/spider/test_database/gymnast/gymnast.sqlite
/kaggle/input/spider/spider/test_database/gymnast/schema.sql
/kaggle/input/spider/spider/test_database/epinions_1/epinions_1.sqlite
/kaggle/input/spider/spider/test_database/government_shift/government_shift.sqlite
/kaggle/input/spider/spider/test_database/government_shift/schema.sql
/kaggle/input/spider/spider/test_database/customers_and_orders/schema.sql
/kaggle/input/spider/spider/test_database/customers_and_orders/customers_and_orders.sqlite
/kaggle/input/spider/spider/test_database/local_govt_and_lot/local_govt_and_lot.sqlite
/kaggle/input/spider/spider/test_database/local_govt_and_lot/schema.sql
/kaggle/input/spider/spider/test_database/assets_maintenance/assets_maintenance.sqlite
/kaggle/input/spider/spider/test_database/assets_maintenance/schema.sql
/kaggle/input/spider/spider/test_database/customers_and_products_contacts/customers_and_products_contacts.sqlite
/kaggle/input/spider/spider/test_database/customers_and_products_contacts/schema.sql
/kaggle/input/spider/spider/test_database/restaurants/schema.sql
/kaggle/input/spider/spider/test_database/restaurants/restaurants.sqlite
/kaggle/input/spider/spider/test_database/insurance_policies/insurance_policies.sqlite
/kaggle/input/spider/spider/test_database/insurance_policies/schema.sql
/kaggle/input/spider/spider/test_database/local_govt_mdm/local_govt_mdm.sqlite
/kaggle/input/spider/spider/test_database/local_govt_mdm/schema.sql
/kaggle/input/spider/spider/test_database/county_public_safety/county_public_safety.sqlite
/kaggle/input/spider/spider/test_database/county_public_safety/schema.sql
/kaggle/input/spider/spider/test_database/book_1/schema_old.sql
/kaggle/input/spider/spider/test_database/book_1/q.txt
/kaggle/input/spider/spider/test_database/book_1/link.txt
/kaggle/input/spider/spider/test_database/book_1/schema.sql
/kaggle/input/spider/spider/test_database/book_1/annotation.json
/kaggle/input/spider/spider/test_database/book_1/book_1.sqlite
/kaggle/input/spider/spider/test_database/book_1/sql.txt
/kaggle/input/spider/spider/test_database/restaurant_1/schema.sql
/kaggle/input/spider/spider/test_database/restaurant_1/restaurant_1.sqlite
/kaggle/input/spider/spider/test_database/ship_mission/ship_mission.sqlite
/kaggle/input/spider/spider/test_database/ship_mission/schema.sql
/kaggle/input/spider/spider/test_database/culture_company/culture_company.sqlite
/kaggle/input/spider/spider/test_database/culture_company/schema.sql
/kaggle/input/spider/spider/test_database/city_record/city_record.sqlite
/kaggle/input/spider/spider/test_database/city_record/schema.sql
/kaggle/input/spider/spider/test_database/inn_1/q.txt
/kaggle/input/spider/spider/test_database/inn_1/link.txt
/kaggle/input/spider/spider/test_database/inn_1/annotation.json
/kaggle/input/spider/spider/test_database/inn_1/inn_1.sql
/kaggle/input/spider/spider/test_database/inn_1/change_date.py
/kaggle/input/spider/spider/test_database/inn_1/inn_1.sqlite
/kaggle/input/spider/spider/test_database/inn_1/data_csv/Rooms.csv
/kaggle/input/spider/spider/test_database/inn_1/data_csv/README.INN.TXT
/kaggle/input/spider/spider/test_database/inn_1/data_csv/Reservations.csv
/kaggle/input/spider/spider/test_database/inn_1/data_csv/Reservations_t.csv
/kaggle/input/spider/spider/test_database/yelp/schema.sql
/kaggle/input/spider/spider/test_database/yelp/yelp.sqlite
/kaggle/input/spider/spider/test_database/insurance_and_eClaims/schema.sql
/kaggle/input/spider/spider/test_database/insurance_and_eClaims/insurance_and_eClaims.sqlite
/kaggle/input/spider/spider/test_database/tracking_grants_for_research/schema.sql
/kaggle/input/spider/spider/test_database/tracking_grants_for_research/tracking_grants_for_research.sqlite
/kaggle/input/spider/spider/test_database/machine_repair/machine_repair.sqlite
/kaggle/input/spider/spider/test_database/machine_repair/schema.sql
/kaggle/input/spider/spider/test_database/mountain_photos/mountain_photos.sqlite
/kaggle/input/spider/spider/test_database/mountain_photos/schema.sql
/kaggle/input/spider/spider/test_database/storm_record/schema.sql
/kaggle/input/spider/spider/test_database/storm_record/storm_record.sqlite
/kaggle/input/spider/spider/test_database/warehouse_1/q.txt
/kaggle/input/spider/spider/test_database/warehouse_1/link.txt
/kaggle/input/spider/spider/test_database/warehouse_1/schema.sql
/kaggle/input/spider/spider/test_database/warehouse_1/warehouse_1.sqlite
/kaggle/input/spider/spider/test_database/warehouse_1/annotation.json
/kaggle/input/spider/spider/test_database/warehouse_1/sql.txt
/kaggle/input/spider/spider/test_database/wedding/wedding.sqlite
/kaggle/input/spider/spider/test_database/wedding/schema.sql
/kaggle/input/spider/spider/test_database/train_station/schema.sql
/kaggle/input/spider/spider/test_database/train_station/train_station.sqlite
/kaggle/input/spider/spider/test_database/party_host/party_host.sqlite
/kaggle/input/spider/spider/test_database/party_host/schema.sql
/kaggle/input/spider/spider/test_database/csu_1/schema.sql
/kaggle/input/spider/spider/test_database/csu_1/csu_1.sqlite
/kaggle/input/spider/spider/test_database/company_employee/company_employee.sqlite
/kaggle/input/spider/spider/test_database/company_employee/schema.sql
/kaggle/input/spider/spider/test_database/entertainment_awards/schema.sql
/kaggle/input/spider/spider/test_database/entertainment_awards/entertainment_awards.sqlite
/kaggle/input/spider/spider/test_database/manufacturer/manufacturer.sqlite
/kaggle/input/spider/spider/test_database/manufacturer/schema.sql
/kaggle/input/spider/spider/test_database/behavior_monitoring/behavior_monitoring.sqlite
/kaggle/input/spider/spider/test_database/behavior_monitoring/schema.sql
/kaggle/input/spider/spider/test_database/election_representative/election_representative.sqlite
/kaggle/input/spider/spider/test_database/election_representative/schema.sql
/kaggle/input/spider/spider/test_database/orchestra/orchestra.sqlite
/kaggle/input/spider/spider/test_database/orchestra/schema.sql
/kaggle/input/spider/spider/test_database/planet_1/q.txt
/kaggle/input/spider/spider/test_database/planet_1/planet_1.sqlite
/kaggle/input/spider/spider/test_database/planet_1/link.txt
/kaggle/input/spider/spider/test_database/planet_1/schema.sql
/kaggle/input/spider/spider/test_database/planet_1/annotation.json
/kaggle/input/spider/spider/test_database/planet_1/sql.txt
/kaggle/input/spider/spider/test_database/cre_Doc_Template_Mgt/schema.sql
/kaggle/input/spider/spider/test_database/cre_Doc_Template_Mgt/cre_Doc_Template_Mgt.sqlite
/kaggle/input/spider/spider/test_database/driving_school/schema.sql
/kaggle/input/spider/spider/test_database/driving_school/driving_school.sqlite
/kaggle/input/spider/spider/test_database/loan_1/loan_1.sqlite
/kaggle/input/spider/spider/test_database/loan_1/schema.sql
/kaggle/input/spider/spider/test_database/film_rank/film_rank.sqlite
/kaggle/input/spider/spider/test_database/film_rank/schema.sql
/kaggle/input/spider/spider/test_database/pilot_record/pilot_record.sqlite
/kaggle/input/spider/spider/test_database/pilot_record/schema.sql
/kaggle/input/spider/spider/test_database/pilot_1/pilot_1.sqlite
/kaggle/input/spider/spider/test_database/pilot_1/link.txt
/kaggle/input/spider/spider/test_database/pilot_1/schema.sql
/kaggle/input/spider/spider/test_database/pilot_1/sql.txt
/kaggle/input/spider/spider/test_database/network_2/schema.sql
/kaggle/input/spider/spider/test_database/network_2/network_2.sqlite
/kaggle/input/spider/spider/test_database/baseball_1/baseball_1.sqlite
/kaggle/input/spider/spider/test_database/baseball_1/schema.sql
/kaggle/input/spider/spider/test_database/candidate_poll/candidate_poll.sqlite
/kaggle/input/spider/spider/test_database/candidate_poll/schema.sql
/kaggle/input/spider/spider/test_database/scientist_1/schema.sql
/kaggle/input/spider/spider/test_database/scientist_1/scientist_1.sqlite
/kaggle/input/spider/spider/test_database/wrestler/schema.sql
/kaggle/input/spider/spider/test_database/wrestler/wrestler.sqlite
/kaggle/input/spider/spider/test_database/dog_kennels/schema.sql
/kaggle/input/spider/spider/test_database/dog_kennels/dog_kennels.sqlite
/kaggle/input/spider/spider/test_database/customers_campaigns_ecommerce/schema.sql
/kaggle/input/spider/spider/test_database/customers_campaigns_ecommerce/customers_campaigns_ecommerce.sqlite
/kaggle/input/spider/spider/test_database/performance_attendance/performance_attendance.sqlite
/kaggle/input/spider/spider/test_database/performance_attendance/schema.sql
/kaggle/input/spider/spider/test_database/book_review/schema_old.sql
/kaggle/input/spider/spider/test_database/book_review/book_review.sqlite
/kaggle/input/spider/spider/test_database/book_review/schema.sql
/kaggle/input/spider/spider/test_database/online_exams/simple_schema.sql
/kaggle/input/spider/spider/test_database/online_exams/schema.sql
/kaggle/input/spider/spider/test_database/online_exams/online_exams.sqlite
/kaggle/input/spider/spider/test_database/device/device.sqlite
/kaggle/input/spider/spider/test_database/device/schema.sql
/kaggle/input/spider/spider/test_database/course_teach/course_teach.sqlite
/kaggle/input/spider/spider/test_database/course_teach/schema.sql
/kaggle/input/spider/spider/test_database/cre_Students_Information_Systems/cre_Students_Information_Systems.sqlite
/kaggle/input/spider/spider/test_database/cre_Students_Information_Systems/schema.sql
/kaggle/input/spider/spider/test_database/soccer_3/schema.sql
/kaggle/input/spider/spider/test_database/soccer_3/soccer_3.sqlite
/kaggle/input/spider/spider/test_database/gas_company/gas_company.sqlite
/kaggle/input/spider/spider/test_database/gas_company/schema.sql
/kaggle/input/spider/spider/test_database/university_rank/university_rank.sqlite
/kaggle/input/spider/spider/test_database/university_rank/schema.sql
/kaggle/input/spider/spider/test_database/imdb/imdb.sqlite
/kaggle/input/spider/spider/test_database/imdb/schema.sql
/kaggle/input/spider/spider/test_database/twitter_1/twitter_1.sqlite
/kaggle/input/spider/spider/test_database/twitter_1/queries/postgres-dialects.xml
/kaggle/input/spider/spider/test_database/twitter_1/queries/oracle-dialects.xml
/kaggle/input/spider/spider/test_database/twitter_1/queries/sqlserver-dialects.xml
/kaggle/input/spider/spider/test_database/flight_company/flight_company.sqlite
/kaggle/input/spider/spider/test_database/flight_company/schema.sql
/kaggle/input/spider/spider/test_database/hr_1/schema.sql
/kaggle/input/spider/spider/test_database/hr_1/hr_1.sqlite
/kaggle/input/spider/spider/test_database/swimming/swimming.sqlite
/kaggle/input/spider/spider/test_database/swimming/schema.sql
/kaggle/input/spider/spider/test_database/sing_contest/schema_old.sql
/kaggle/input/spider/spider/test_database/sing_contest/sing_contest.sqlite
/kaggle/input/spider/spider/test_database/sing_contest/schema.sql
/kaggle/input/spider/spider/test_database/architecture/architecture.sqlite
/kaggle/input/spider/spider/test_database/architecture/schema.sql
/kaggle/input/spider/spider/test_database/world_1/world_1.json
/kaggle/input/spider/spider/test_database/world_1/world_1.sqlite
/kaggle/input/spider/spider/test_database/bakery_1/bakery_1.sql
/kaggle/input/spider/spider/test_database/bakery_1/q.txt
/kaggle/input/spider/spider/test_database/bakery_1/bakery_1.json
/kaggle/input/spider/spider/test_database/bakery_1/link.txt
/kaggle/input/spider/spider/test_database/bakery_1/bakery_1.sqlite
/kaggle/input/spider/spider/test_database/bakery_1/bakery_1_michi.txt
/kaggle/input/spider/spider/test_database/bakery_1/annotation.json
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/customers_t.csv
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/items.csv
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/receipts_t.csv
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/items_t.csv
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/goods_t.csv
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/items (3_11_18, 5_53 PM)_original.csv
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/customers.csv
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/goods.csv
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/README.BAKERY.TXT
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/receipts.csv
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/receipts (3_11_18, 5_53 PM)_original.csv
/kaggle/input/spider/spider/test_database/cre_Doc_and_collections/schema.sql
/kaggle/input/spider/spider/test_database/cre_Doc_and_collections/cre_Doc_and_collections.sqlite
/kaggle/input/spider/spider/test_database/match_season/schema.sql
/kaggle/input/spider/spider/test_database/match_season/match_season.sqlite
/kaggle/input/spider/spider/test_database/real_estate_rentals/real_estate_rentals.sqlite
/kaggle/input/spider/spider/test_database/real_estate_rentals/schema.sql
/kaggle/input/spider/spider/test_database/soccer_1/soccer_1.sqlite
/kaggle/input/spider/spider/test_database/soccer_1/schema.sql
/kaggle/input/spider/spider/test_database/formula_1/formula_1.splite
/kaggle/input/spider/spider/test_database/formula_1/annotation.json
/kaggle/input/spider/spider/test_database/formula_1/formula_1.sqlite
/kaggle/input/spider/spider/test_database/formula_1/formula_1.sql
/kaggle/input/spider/spider/test_database/formula_1/data_csv/races.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/drivers.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/constructors.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/pitStops.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/status.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/seasons.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/constructorStandings.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/driverStandings.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/constructorResults.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/lapTimes.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/results.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/circuits.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/qualifying.csv
/kaggle/input/spider/spider/test_database/car_1/car_1.json
/kaggle/input/spider/spider/test_database/car_1/q.txt
/kaggle/input/spider/spider/test_database/car_1/car_1.sqlite
/kaggle/input/spider/spider/test_database/car_1/link.txt
/kaggle/input/spider/spider/test_database/car_1/annotation.json
/kaggle/input/spider/spider/test_database/car_1/car_1.sql
/kaggle/input/spider/spider/test_database/car_1/data_csv/countries.csv
/kaggle/input/spider/spider/test_database/car_1/data_csv/cars-data.csv
/kaggle/input/spider/spider/test_database/car_1/data_csv/model-list.csv
/kaggle/input/spider/spider/test_database/car_1/data_csv/continents.csv
/kaggle/input/spider/spider/test_database/car_1/data_csv/car-makers.csv
/kaggle/input/spider/spider/test_database/car_1/data_csv/car-names.csv
/kaggle/input/spider/spider/test_database/car_1/data_csv/cars.desc
/kaggle/input/spider/spider/test_database/car_1/data_csv/README.CARS.TXT
/kaggle/input/spider/spider/test_database/university_basketball/schema.sql
/kaggle/input/spider/spider/test_database/university_basketball/university_basketball.sqlite
/kaggle/input/spider/spider/test_database/body_builder/body_builder.sqlite
/kaggle/input/spider/spider/test_database/body_builder/schema.sql
/kaggle/input/spider/spider/test_database/railway/schema.sql
/kaggle/input/spider/spider/test_database/railway/railway.sqlite
/kaggle/input/spider/spider/test_database/medicine_enzyme_interaction/medicine_enzyme_interaction.sqlite
/kaggle/input/spider/spider/test_database/medicine_enzyme_interaction/schema.sql
/kaggle/input/spider/spider/test_database/tracking_share_transactions/tracking_share_transactions.sqlite
/kaggle/input/spider/spider/test_database/tracking_share_transactions/schema.sql
/kaggle/input/spider/spider/test_database/musical/schema.sql
/kaggle/input/spider/spider/test_database/musical/musical.sqlite
/kaggle/input/spider/spider/test_database/tracking_software_problems/tracking_software_problems.sqlite
/kaggle/input/spider/spider/test_database/tracking_software_problems/schema.sql
/kaggle/input/spider/spider/test_database/academic/academic.sqlite
/kaggle/input/spider/spider/test_database/academic/schema.sql
/kaggle/input/spider/spider/test_database/products_for_hire/schema.sql
/kaggle/input/spider/spider/test_database/products_for_hire/products_for_hire.sqlite
/kaggle/input/spider/spider/test_database/roller_coaster/roller_coaster.sqlite
/kaggle/input/spider/spider/test_database/roller_coaster/schema.sql
/kaggle/input/spider/spider/test_database/conference/conference.sqlite
/kaggle/input/spider/spider/test_database/conference/schema.sql
/kaggle/input/spider/spider/test_database/tvshow/tvshow.sqlite
/kaggle/input/spider/spider/test_database/tvshow/schema.sql
/kaggle/input/spider/spider/test_database/college_3/schema.sql
/kaggle/input/spider/spider/test_database/college_3/college_3.sqlite
/kaggle/input/spider/spider/test_database/headphone_store/headphone_store.sqlite
/kaggle/input/spider/spider/test_database/headphone_store/schema.sql
/kaggle/input/spider/spider/test_database/bbc_channels/bbc_channels.sqlite
/kaggle/input/spider/spider/test_database/bbc_channels/schema.sql
/kaggle/input/spider/spider/test_database/cinema/cinema.sqlite
/kaggle/input/spider/spider/test_database/cinema/schema.sql
/kaggle/input/spider/spider/test_database/college_2/link.txt
/kaggle/input/spider/spider/test_database/college_2/college_2.sqlite
/kaggle/input/spider/spider/test_database/college_2/TextBookExampleSchema.sql
/kaggle/input/spider/spider/test_database/tracking_orders/schema.sql
/kaggle/input/spider/spider/test_database/tracking_orders/tracking_orders.sqlite
/kaggle/input/spider/spider/test_database/school_bus/school_bus.sqlite
/kaggle/input/spider/spider/test_database/school_bus/schema.sql
/kaggle/input/spider/spider/test_database/riding_club/riding_club.sqlite
/kaggle/input/spider/spider/test_database/riding_club/schema.sql
/kaggle/input/spider/spider/test_database/geo/geo.sqlite
/kaggle/input/spider/spider/test_database/geo/schema.sql
/kaggle/input/spider/spider/test_database/bike_1/bike_1.sqlite
/kaggle/input/spider/spider/test_database/bike_1/schema.sql
/kaggle/input/spider/spider/test_database/phone_1/phone_1.sqlite
/kaggle/input/spider/spider/test_database/phone_1/schema.sql
/kaggle/input/spider/spider/test_database/wine_1/q.txt
/kaggle/input/spider/spider/test_database/wine_1/link.txt
/kaggle/input/spider/spider/test_database/wine_1/wine_1.sqlite
/kaggle/input/spider/spider/test_database/wine_1/wine_1.sql
/kaggle/input/spider/spider/test_database/wine_1/annotation.json
/kaggle/input/spider/spider/test_database/wine_1/data_csv/grapes.csv

In [2]:
!pip install --upgrade modelscope transformers autoawq

Collecting modelscope
  Downloading modelscope-1.14.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: transformers in /opt/conda/lib/python3.10/site-packages (4.39.3)
Collecting transformers
  Downloading transformers-4.41.1-py3-none-any.whl.metadata (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 kB 691.8 kB/s eta 0:00:00a 0:00:01
Collecting autoawq
  Downloading autoawq-0.2.5-cp310-cp310-manylinux2014_x86_64.whl.metadata (16 kB)
Collecting addict (from modelscope)
  Downloading addict-2.4.0-py3-none-any.whl.metadata (1.0 kB)
Requirement already satisfied: attrs in /opt/conda/lib/python3.10/site-packages (from modelscope) (23.2.0)
Requirement already satisfied: datasets<2.19.0,>=2.16.0 in /opt/conda/lib/python3.10/site-packages (from modelscope) (2.18.0)
Collecting einops (from modelscope)
  Downloading einops-0.8.0-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: filelock>=3.3.0 in /opt/conda/lib/python3.10/site-packages (from modelscope) (3.13.1)
Requirement already satisfied: gast>=0.2.2 in /opt/conda/lib/python3.10/site-packages (from modelscope) (0.5.4)
Requirement already satisfied: huggingface-hub in /opt/conda/lib/python3.10/site-packages (from modelscope) (0.22.2)
Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (from modelscope) (1.26.4)
Collecting oss2 (from modelscope)
  Downloading oss2-2.18.5.tar.gz (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.4/283.4 kB 3.2 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (from modelscope) (2.1.4)
Requirement already satisfied: Pillow>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from modelscope) (9.5.0)
Requirement already satisfied: pyarrow!=9.0.0,>=6.0.0 in /opt/conda/lib/python3.10/site-packages (from modelscope) (15.0.2)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.10/site-packages (from modelscope) (2.9.0.post0)
Requirement already satisfied: pyyaml in /opt/conda/lib/python3.10/site-packages (from modelscope) (6.0.1)
Requirement already satisfied: requests>=2.25 in /opt/conda/lib/python3.10/site-packages (from modelscope) (2.31.0)
Requirement already satisfied: scipy in /opt/conda/lib/python3.10/site-packages (from modelscope) (1.11.4)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.10/site-packages (from modelscope) (69.0.3)
Requirement already satisfied: simplejson>=3.3.0 in /opt/conda/lib/python3.10/site-packages (from modelscope) (3.19.2)
Requirement already satisfied: sortedcontainers>=1.5.9 in /opt/conda/lib/python3.10/site-packages (from modelscope) (2.4.0)
Requirement already satisfied: tqdm>=4.64.0 in /opt/conda/lib/python3.10/site-packages (from modelscope) (4.66.1)
Requirement already satisfied: urllib3>=1.26 in /opt/conda/lib/python3.10/site-packages (from modelscope) (1.26.18)
Requirement already satisfied: yapf in /opt/conda/lib/python3.10/site-packages (from modelscope) (0.40.2)
Collecting huggingface-hub (from modelscope)
  Downloading huggingface_hub-0.23.2-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.10/site-packages (from transformers) (21.3)
Requirement already satisfied: regex!=2019.12.17 in /opt/conda/lib/python3.10/site-packages (from transformers) (2023.12.25)
Collecting tokenizers<0.20,>=0.19 (from transformers)
  Downloading tokenizers-0.19.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.7 kB)
Requirement already satisfied: safetensors>=0.4.1 in /opt/conda/lib/python3.10/site-packages (from transformers) (0.4.3)
Requirement already satisfied: torch>=2.0.1 in /opt/conda/lib/python3.10/site-packages (from autoawq) (2.1.2)
Requirement already satisfied: typing-extensions>=4.8.0 in /opt/conda/lib/python3.10/site-packages (from autoawq) (4.9.0)
Requirement already satisfied: accelerate in /opt/conda/lib/python3.10/site-packages (from autoawq) (0.29.3)
Requirement already satisfied: zstandard in /opt/conda/lib/python3.10/site-packages (from autoawq) (0.22.0)
Collecting autoawq-kernels (from autoawq)
  Downloading autoawq_kernels-0.0.6-cp310-cp310-manylinux2014_x86_64.whl.metadata (2.0 kB)
Requirement already satisfied: pyarrow-hotfix in /opt/conda/lib/python3.10/site-packages (from datasets<2.19.0,>=2.16.0->modelscope) (0.6)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in /opt/conda/lib/python3.10/site-packages (from datasets<2.19.0,>=2.16.0->modelscope) (0.3.8)
Requirement already satisfied: xxhash in /opt/conda/lib/python3.10/site-packages (from datasets<2.19.0,>=2.16.0->modelscope) (3.4.1)
Requirement already satisfied: multiprocess in /opt/conda/lib/python3.10/site-packages (from datasets<2.19.0,>=2.16.0->modelscope) (0.70.16)
Requirement already satisfied: fsspec<=2024.2.0,>=2023.1.0 in /opt/conda/lib/python3.10/site-packages (from fsspec[http]<=2024.2.0,>=2023.1.0->datasets<2.19.0,>=2.16.0->modelscope) (2024.2.0)
Requirement already satisfied: aiohttp in /opt/conda/lib/python3.10/site-packages (from datasets<2.19.0,>=2.16.0->modelscope) (3.9.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.10/site-packages (from packaging>=20.0->transformers) (3.1.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.1->modelscope) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests>=2.25->modelscope) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests>=2.25->modelscope) (3.6)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests>=2.25->modelscope) (2024.2.2)
Requirement already satisfied: sympy in /opt/conda/lib/python3.10/site-packages (from torch>=2.0.1->autoawq) (1.12)
Requirement already satisfied: networkx in /opt/conda/lib/python3.10/site-packages (from torch>=2.0.1->autoawq) (3.2.1)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.10/site-packages (from torch>=2.0.1->autoawq) (3.1.2)
Requirement already satisfied: psutil in /opt/conda/lib/python3.10/site-packages (from accelerate->autoawq) (5.9.3)
Requirement already satisfied: crcmod>=1.7 in /opt/conda/lib/python3.10/site-packages (from oss2->modelscope) (1.7)
Requirement already satisfied: pycryptodome>=3.4.7 in /opt/conda/lib/python3.10/site-packages (from oss2->modelscope) (3.20.0)
Collecting aliyun-python-sdk-kms>=2.4.1 (from oss2->modelscope)
  Downloading aliyun_python_sdk_kms-2.16.3-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting aliyun-python-sdk-core>=2.13.12 (from oss2->modelscope)
  Downloading aliyun-python-sdk-core-2.15.1.tar.gz (443 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 443.1/443.1 kB 8.4 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas->modelscope) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas->modelscope) (2023.4)
Requirement already satisfied: importlib-metadata>=6.6.0 in /opt/conda/lib/python3.10/site-packages (from yapf->modelscope) (6.11.0)
Requirement already satisfied: platformdirs>=3.5.1 in /opt/conda/lib/python3.10/site-packages (from yapf->modelscope) (4.2.0)
Requirement already satisfied: tomli>=2.0.1 in /opt/conda/lib/python3.10/site-packages (from yapf->modelscope) (2.0.1)
Collecting jmespath<1.0.0,>=0.9.3 (from aliyun-python-sdk-core>=2.13.12->oss2->modelscope)
  Downloading jmespath-0.10.0-py2.py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: cryptography>=2.6.0 in /opt/conda/lib/python3.10/site-packages (from aliyun-python-sdk-core>=2.13.12->oss2->modelscope) (41.0.7)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/conda/lib/python3.10/site-packages (from aiohttp->datasets<2.19.0,>=2.16.0->modelscope) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/conda/lib/python3.10/site-packages (from aiohttp->datasets<2.19.0,>=2.16.0->modelscope) (1.9.3)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from aiohttp->datasets<2.19.0,>=2.16.0->modelscope) (1.4.1)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/conda/lib/python3.10/site-packages (from aiohttp->datasets<2.19.0,>=2.16.0->modelscope) (1.3.1)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /opt/conda/lib/python3.10/site-packages (from aiohttp->datasets<2.19.0,>=2.16.0->modelscope) (4.0.3)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.10/site-packages (from importlib-metadata>=6.6.0->yapf->modelscope) (3.17.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.10/site-packages (from jinja2->torch>=2.0.1->autoawq) (2.1.3)
Requirement already satisfied: mpmath>=0.19 in /opt/conda/lib/python3.10/site-packages (from sympy->torch>=2.0.1->autoawq) (1.3.0)
Requirement already satisfied: cffi>=1.12 in /opt/conda/lib/python3.10/site-packages (from cryptography>=2.6.0->aliyun-python-sdk-core>=2.13.12->oss2->modelscope) (1.16.0)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.10/site-packages (from cffi>=1.12->cryptography>=2.6.0->aliyun-python-sdk-core>=2.13.12->oss2->modelscope) (2.21)
Downloading modelscope-1.14.0-py3-none-any.whl (5.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.7/5.7 MB 41.3 MB/s eta 0:00:0000:0100:01
Downloading transformers-4.41.1-py3-none-any.whl (9.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.1/9.1 MB 77.9 MB/s eta 0:00:00:00:0100:01
Downloading autoawq-0.2.5-cp310-cp310-manylinux2014_x86_64.whl (84 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.3/84.3 kB 4.9 MB/s eta 0:00:00
Downloading huggingface_hub-0.23.2-py3-none-any.whl (401 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 401.7/401.7 kB 23.6 MB/s eta 0:00:00
Downloading tokenizers-0.19.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.6/3.6 MB 81.6 MB/s eta 0:00:00:00:01
Downloading addict-2.4.0-py3-none-any.whl (3.8 kB)
Downloading autoawq_kernels-0.0.6-cp310-cp310-manylinux2014_x86_64.whl (33.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.4/33.4 MB 41.2 MB/s eta 0:00:0000:0100:01m
Downloading einops-0.8.0-py3-none-any.whl (43 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.2/43.2 kB 2.4 MB/s eta 0:00:00
Downloading aliyun_python_sdk_kms-2.16.3-py2.py3-none-any.whl (98 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.1/98.1 kB 6.5 MB/s eta 0:00:00
Downloading jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Building wheels for collected packages: oss2, aliyun-python-sdk-core
  Building wheel for oss2 (setup.py) ... done
  Created wheel for oss2: filename=oss2-2.18.5-py3-none-any.whl size=118146 sha256=1a3e30e1af9911e5c224386b8ad3c9304012eec1f6bdf28a3c90010960ab3b02
  Stored in directory: /root/.cache/pip/wheels/c5/ec/94/a908b823ad209d91fb3cb809c0553032e496dd3d36218e4596
  Building wheel for aliyun-python-sdk-core (setup.py) ... done
  Created wheel for aliyun-python-sdk-core: filename=aliyun_python_sdk_core-2.15.1-py3-none-any.whl size=535325 sha256=7711057321fdd22dc2037a388f85199ea09b280a9039f27768c9c4d16670e0a8
  Stored in directory: /root/.cache/pip/wheels/69/4b/8e/0a28e00f4cf43b273c18cce083804738d41013e017da922ce4
Successfully built oss2 aliyun-python-sdk-core
Installing collected packages: addict, jmespath, einops, huggingface-hub, tokenizers, autoawq-kernels, aliyun-python-sdk-core, transformers, aliyun-python-sdk-kms, oss2, autoawq, modelscope
  Attempting uninstall: jmespath
    Found existing installation: jmespath 1.0.1
    Uninstalling jmespath-1.0.1:
      Successfully uninstalled jmespath-1.0.1
  Attempting uninstall: huggingface-hub
    Found existing installation: huggingface-hub 0.22.2
    Uninstalling huggingface-hub-0.22.2:
      Successfully uninstalled huggingface-hub-0.22.2
  Attempting uninstall: tokenizers
    Found existing installation: tokenizers 0.15.2
    Uninstalling tokenizers-0.15.2:
      Successfully uninstalled tokenizers-0.15.2
  Attempting uninstall: transformers
    Found existing installation: transformers 4.39.3
    Uninstalling transformers-4.39.3:
      Successfully uninstalled transformers-4.39.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
boto3 1.26.100 requires botocore<1.30.0,>=1.29.100, but you have botocore 1.34.69 which is incompatible.
Successfully installed addict-2.4.0 aliyun-python-sdk-core-2.15.1 aliyun-python-sdk-kms-2.16.3 autoawq-0.2.5 autoawq-kernels-0.0.6 einops-0.8.0 huggingface-hub-0.23.2 jmespath-0.10.0 modelscope-1.14.0 oss2-2.18.5 tokenizers-0.19.1 transformers-4.41.1

In [3]:
import torch
from modelscope import AutoModelForCausalLM, AutoTokenizer
model = AutoModelForCausalLM.from_pretrained("qwen/CodeQwen1.5-7B-Chat", torch_dtype=torch.float16, device_map="auto")
tokenizer = AutoTokenizer.from_pretrained("qwen/CodeQwen1.5-7B-Chat-AWQ")

2024-05-29 18:30:14,275 - modelscope - INFO - PyTorch version 2.1.2 Found.
2024-05-29 18:30:14,281 - modelscope - INFO - TensorFlow version 2.15.0 Found.
2024-05-29 18:30:14,282 - modelscope - INFO - Loading ast index from /root/.cache/modelscope/ast_indexer
2024-05-29 18:30:14,283 - modelscope - INFO - No valid ast index found from /root/.cache/modelscope/ast_indexer, generating ast index from prebuilt!
2024-05-29 18:30:14,374 - modelscope - INFO - Loading done! Current index file version is 1.14.0, with md5 4d39194c66b826b300e07495a480df3f and a total number of 976 components indexed
2024-05-29 18:30:18.102135: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-05-29 18:30:18.102267: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-05-29 18:30:18.253140: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
Downloading: 100%|██████████| 701/701 [00:00<00:00, 2.48MB/s]
Downloading: 100%|██████████| 73.0/73.0 [00:00<00:00, 242kB/s]
Downloading: 100%|██████████| 212/212 [00:00<00:00, 786kB/s]
Downloading: 100%|██████████| 6.73k/6.73k [00:00<00:00, 9.98MB/s]
Downloading: 100%|█████████▉| 3.63G/3.63G [00:50<00:00, 77.0MB/s]
Downloading: 100%|█████████▉| 3.68G/3.68G [00:23<00:00, 167MB/s]
Downloading: 100%|█████████▉| 3.68G/3.68G [00:26<00:00, 147MB/s]
Downloading: 100%|█████████▉| 2.52G/2.52G [00:16<00:00, 169MB/s]
Downloading: 100%|██████████| 31.0k/31.0k [00:00<00:00, 831kB/s]
Downloading: 100%|██████████| 3.43k/3.43k [00:00<00:00, 15.5MB/s]
Downloading: 100%|██████████| 4.26M/4.26M [00:00<00:00, 13.5MB/s]
Downloading: 100%|██████████| 1.36M/1.36M [00:00<00:00, 4.29MB/s]
Downloading: 100%|██████████| 972/972 [00:00<00:00, 3.82MB/s]

Loading checkpoint shards:   0%|          | 0/4 [00:00<?, ?it/s]

Downloading: 100%|██████████| 879/879 [00:00<00:00, 4.36MB/s]
Downloading: 100%|██████████| 73.0/73.0 [00:00<00:00, 410kB/s]
Downloading: 100%|██████████| 161/161 [00:00<00:00, 671kB/s]
Downloading: 100%|██████████| 6.73k/6.73k [00:00<00:00, 10.4MB/s]
Downloading: 100%|██████████| 3.50k/3.50k [00:00<00:00, 16.0MB/s]
Downloading: 100%|██████████| 4.26M/4.26M [00:00<00:00, 11.8MB/s]
Downloading: 100%|██████████| 1.36M/1.36M [00:00<00:00, 4.39MB/s]
Downloading: 100%|██████████| 972/972 [00:00<00:00, 4.91MB/s]

In [4]:
prompt = "Write a sql query for finding all the manager that earns less than its employee. We have two tables employee and manager. The manager has salary column and the employee table has managerid, salary column."
messages = [
    {"role": "system", "content": "You are a helpful assistant."},
    {"role": "user", "content": prompt}
]
text = tokenizer.apply_chat_template(messages, tokenize=False, add_generation_prompt=True)
model_inputs = tokenizer([text], return_tensors="pt").to("cuda" )
generated_ids = model.generate(model_inputs.input_ids, max_new_tokens=512)
generated_ids = [output_ids[len(input_ids):] for input_ids, output_ids in zip(model_inputs.input_ids, generated_ids)]
response = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)[0]
print(response)

Assuming the manager id in the employee table is a foreign key referring to the id in the manager table, here is a SQL query that will find all the managers who earn less than their employees:

```sql
SELECT e.managerid, m.salary AS manager_salary, e.salary AS employee_salary
FROM employee e
JOIN manager m ON e.managerid = m.id
WHERE m.salary < e.salary;
```

This query first joins the employee table to the manager table based on the managerid column, which should be a foreign key in the employee table. It then selects the manager's id and salary as well as the employee's salary, and filters the results to only include those where the manager's salary is less than the employee's salary.

In [5]:
import json

def read_schema(file_path):
    """Read the schema file and return its contents."""
    with open(file_path, 'r') as f:
        schema = f.read()
    return schema

def create_prompt(entry, schema):
    """Create a query generation prompt using the database schema and the question."""
    db_id = entry['db_id']
    question = entry['question']

    prompt = f"Database Schema:\n{schema}\n\nQuestion:\n{question}\n Instruction: Generate the SQL query only avoid any description \n\nSQL Query:"
    return prompt

# Load the Spider dataset
with open('/kaggle/input/spider/spider/test_data/dev.json') as f:
    spider_data = json.load(f)

# Example of processing the first entry
first_entry = spider_data[0]
db_id = first_entry['db_id']
schema_file_path = f'/kaggle/input/spider/spider/test_database/{db_id}/schema.sql'

# Read the database schema
schema = read_schema(schema_file_path)

# Create the prompt
prompt = create_prompt(first_entry, schema)
print(prompt)

Database Schema:
PRAGMA foreign_keys = ON;

CREATE TABLE "club" (
"Club_ID" int,
"Name" text,
"Manager" text,
"Captain" text,
"Manufacturer" text,
"Sponsor" text,
PRIMARY KEY ("Club_ID")
);

CREATE TABLE "player" (
"Player_ID" real,
"Name" text,
"Country" text,
"Earnings" real,
"Events_number" int,
"Wins_count" int,
"Club_ID" int,
PRIMARY KEY ("Player_ID"),
FOREIGN KEY ("Club_ID") REFERENCES "club"("Club_ID")
);

INSERT INTO  "club" VALUES (1,"Arsenal","Arsène Wenger","Cesc Fàbregas","Nike","Fly Emirates");
INSERT INTO  "club" VALUES (2,"Aston Villa","Martin O'Neill","Martin Laursen","Nike","Acorns");
INSERT INTO  "club" VALUES (3,"Blackburn Rovers","Sam Allardyce","Ryan Nelsen","Umbro","Crown Paints");
INSERT INTO  "club" VALUES (4,"Bolton Wanderers","Gary Megson","Kevin Davies","Reebok","Reebok");
INSERT INTO  "club" VALUES (5,"Chelsea","Guus Hiddink","John Terry","adidas","Samsung");
INSERT INTO  "club" VALUES (6,"Everton","David Moyes","Phil Neville","Umbro","Chang");
INSERT INTO  "club" VALUES (7,"Fulham","Roy Hodgson","Danny Murphy","Nike","LG");
INSERT INTO  "club" VALUES (8,"Hull City","Phil Brown","Ian Ashbee","Umbro","Karoo (H) / Kingston Communications (A, 3rd)");
INSERT INTO  "club" VALUES (9,"Liverpool","Rafael Benítez","Steven Gerrard","adidas","Carlsberg");


INSERT INTO  "player" VALUES ("1","Nick Price","Zimbabwe","1478557","18","4",1);
INSERT INTO  "player" VALUES ("2","Paul Azinger","United States","1458456","24","3",3);
INSERT INTO  "player" VALUES ("3","Greg Norman","Australia","1359653","15","2",5);
INSERT INTO  "player" VALUES ("4","Jim Gallagher, Jr.","United States","1078870","27","2",6);
INSERT INTO  "player" VALUES ("5","David Frost","South Africa","1030717","22","2",7);



Question:
How many clubs are there?
 Instruction: Generate the SQL query only avoid any description

SQL Query:

In [6]:
def generate_sql_query(entry, schema_file_path, model, tokenizer, device="cuda"):
    """Generate a SQL query from the prompt using the language model."""
    # Read the database schema
    schema = read_schema(schema_file_path)

    # Create the prompt
    prompt = create_prompt(entry, schema)

    # Create the messages for the model
    messages = [
        {"role": "system", "content": "You are a helpful assistant."},
        {"role": "user", "content": prompt}
    ]

    # Apply chat template
    text = tokenizer.apply_chat_template(
        messages,
        tokenize=False,
        add_generation_prompt=True
    )

    # Tokenize the input
    model_inputs = tokenizer([text], return_tensors="pt").to(device)

    # Generate the SQL query
    generated_ids = model.generate(
        model_inputs.input_ids,
        max_new_tokens=512
    )

    # Extract the generated tokens
    generated_ids = [
        output_ids[len(input_ids):] for input_ids, output_ids in zip(model_inputs.input_ids, generated_ids)
    ]

    # Decode the response
    response = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)[0]

    return response

# Example of processing the first entry
first_entry = spider_data[0]
db_id = first_entry['db_id']
# schema_file_path = f'/content/drive/MyDrive/UNIVERSITY/Semester 8/nlp/spider/database/{db_id}/schema.sql'
schema_file_path = f'/kaggle/input/spider/spider/test_database/{db_id}/schema.sql'


# Generate the SQL query
generated_sql = generate_sql_query(first_entry, schema_file_path, model, tokenizer, device = "cuda")
print(generated_sql)

SELECT count(DISTINCT Club_ID) FROM club

In [7]:
output_dir = '/kaggle/working'

# Ensure the output directory exists
os.makedirs(output_dir, exist_ok=True)

# Define the output file path
output_file_path = os.path.join(output_dir, 'test_spider_with_generated_sql.json')

In [8]:
import json
from transformers import AutoTokenizer, AutoModelForCausalLM
import torch
from math import ceil

device="cuda"
def process_spider_data_in_batches(spider_data, schema_base_path, model, tokenizer, device, output_file, batch_size=10):
    """Process entries in spider_data in batches, generate SQL queries, and save incrementally."""
    updated_data = []
    total_entries = len(spider_data)
    total_batches = ceil(total_entries / batch_size)
    for batch_idx in range(total_batches):
        batch_start = batch_idx * batch_size
        batch_end = min(batch_start + batch_size, total_entries)
        batch = spider_data[batch_start:batch_end]
        if batch_idx<4:
            print(batch_idx)
            continue;
        for idx, entry in enumerate(batch, start=batch_start + 1):
            db_id = entry['db_id']
            schema_file_path = f'{schema_base_path}/{db_id}/schema.sql'

            # Generate the SQL query
            generated_sql = generate_sql_query(entry, schema_file_path, model, tokenizer, device)
            print(f"Generated SQL for entry {idx}: {generated_sql}")

            # Add the generated SQL to the entry
            entry['generated_sql'] = generated_sql
            updated_data.append(entry)
        # Save the updated data incrementally
        with open(output_file, 'w') as f:
            json.dump(updated_data, f, indent=4)

        print(f"Processed batch {batch_idx + 1}/{total_batches}")


# Process the data and save the results
schema_file_path = f'/kaggle/input/spider/spider/test_database'
output_file = '/kaggle/working/test_spider_with_generated_sql.json'
process_spider_data_in_batches(spider_data, schema_file_path, model, tokenizer, device, output_file)

0
1
2
3
Generated SQL for entry 41: SELECT c.customer_id, c.customer_first_name, c.customer_last_name
FROM Customers AS c
JOIN Orders AS o ON c.customer_id = o.customer_id
WHERE c.customer_id IN (
    SELECT c.customer_id
    FROM Customers AS c
    JOIN Orders AS o ON c.customer_id = o.customer_id
    GROUP BY c.customer_id
    HAVING COUNT(o.order_id) > 2
)
AND c.customer_id IN (
    SELECT c.customer_id
    FROM Customers AS c
    JOIN Orders AS o ON c.customer_id = o.customer_id
    JOIN Order_Items AS oi ON o.order_id = oi.order_id
    GROUP BY c.customer_id
    HAVING COUNT(oi.order_item_id) >= 3
)
Generated SQL for entry 42: SELECT T1.customer_id ,  T1.customer_first_name ,  T1.customer_last_name FROM customers AS T1 JOIN orders AS T2 ON T1.customer_id = T2.customer_id GROUP BY T2.customer_id HAVING COUNT(*) > 2 AND COUNT(DISTINCT T2.order_id) > 3
Generated SQL for entry 43: SELECT T1.order_id, T1.order_status_code, COUNT(T2.order_item_id) AS number FROM Orders AS T1 JOIN Order_Items AS T2 ON T1.order_id = T2.order_id GROUP BY T1.order_id, T1.order_status_code
Generated SQL for entry 44: SELECT Orders.order_id, Orders.order_status_code, COUNT(Order_Items.product_id)
FROM Orders
JOIN Order_Items
ON Orders.order_id = Order_Items.order_id
GROUP BY Orders.order_id, Orders.order_status_code
Generated SQL for entry 45: SELECT T1.date_order_placed FROM orders AS T1 JOIN order_items AS T2 ON T1.order_id  =  T2.order_id GROUP BY T1.order_id HAVING COUNT(T1.order_id)  >  1 OR T1.date_order_placed = (SELECT MIN(date_order_placed) FROM orders)
Generated SQL for entry 46: SELECT min(date_order_placed) FROM orders
SELECT date_order_placed FROM orders WHERE order_id IN
(SELECT order_id FROM Order_Items GROUP BY order_id HAVING count(*) > 1)
Generated SQL for entry 47: SELECT DISTINCT `customer_first_name`, `customer_middle_initial`, `customer_last_name` FROM Customers WHERE `customer_id` NOT IN (SELECT DISTINCT `customer_id` FROM Orders)
Generated SQL for entry 48: To find the first, last names, and middle initials of all customers who did not make any orders, you can use the following SQL query:

```sql
SELECT customer_first_name, customer_middle_initial, customer_last_name
FROM Customers
WHERE customer_id NOT IN (
    SELECT customer_id
    FROM Orders
)
```
Generated SQL for entry 49: SELECT T2.product_id, T2.product_name, T2.product_price, T2.product_color FROM Orders AS T1 INNER JOIN Order_Items AS T2 ON T1.order_id = T2.order_id WHERE T2.product_id NOT IN (SELECT product_id FROM Order_Items WHERE order_id IN (SELECT order_id FROM Orders WHERE order_id IN (SELECT order_id FROM Order_Items GROUP BY order_id HAVING COUNT(product_id) >= 2)))
Generated SQL for entry 50: SELECT T1.product_id ,  T1.product_name ,  T1.product_price ,  T1.product_color FROM Products AS T1 JOIN Orders AS T2 ON T1.product_id = T2.order_id GROUP BY T1.product_id HAVING count(*)  >=  2
Processed batch 5/215
Generated SQL for entry 51: SELECT T1.order_id ,  T1.date_order_placed FROM orders AS T1 JOIN order_items AS T2 ON T1.order_id  =  T2.order_id GROUP BY T1.order_id HAVING COUNT(*) >= 2
Generated SQL for entry 52: SELECT T2.order_id ,  T2.date_order_placed FROM Order_Items AS T1 JOIN Orders AS T2 ON T1.order_id = T2.order_id GROUP BY T2.order_id HAVING count(*)  >= 2
Generated SQL for entry 53: SELECT T1.product_id, T1.product_name, T1.product_price FROM products AS T1 JOIN order_items AS T2 ON T1.product_id = T2.product_id GROUP BY T1.product_id ORDER BY COUNT(*) DESC LIMIT 1
Generated SQL for entry 54: SELECT T2.product_id ,  T2.product_name ,  T2.product_price FROM order_items AS T1 JOIN products AS T2 ON T2.product_id = T1.product_id GROUP BY T2.product_id ORDER BY COUNT(*) DESC LIMIT 1
Generated SQL for entry 55: SELECT order_id, SUM(product_price) FROM Order_Items INNER JOIN Products ON Order_Items.product_id = Products.product_id GROUP BY order_id ORDER BY SUM(product_price) ASC LIMIT 1
Generated SQL for entry 56: SELECT T3.order_id, sum(T2.product_price) as total_cost
FROM Shipment_Items as T1 JOIN Order_Items as T2 ON T1.order_item_id  =  T2.order_item_id
JOIN Orders as T3 ON T2.order_id  =  T3.order_id
GROUP BY T3.order_id
ORDER BY total_cost
LIMIT 1
Generated SQL for entry 57: SELECT payment_method_code FROM customer_payment_methods GROUP BY payment_method_code ORDER BY COUNT(*) DESC LIMIT 1
Generated SQL for entry 58: SELECT payment_method_code FROM customer_payment_methods GROUP BY payment_method_code ORDER BY count(*) DESC LIMIT 1
Generated SQL for entry 59: SELECT Customers.gender_code, COUNT(Order_Items.order_item_id) AS num_products_bought
FROM Customers
JOIN Orders ON Customers.customer_id = Orders.customer_id
JOIN Order_Items ON Orders.order_id = Order_Items.order_id
GROUP BY Customers.gender_code
Generated SQL for entry 60: To answer this question, we can use the SUM function and the GROUP BY clause in SQL. Here is the SQL query:

```sql
SELECT c.gender_code, COUNT(oi.product_id) as num_products
FROM Customers c
JOIN Orders o ON c.customer_id = o.customer_id
JOIN Order_Items oi ON o.order_id = oi.order_id
GROUP BY c.gender_code;
```

This query will give you the number of products each gender bought from the Orders, Order_Items, and Customers tables. The GROUP BY clause groups the results by the gender_code and the COUNT function then counts the number of product_id's for each group.
Processed batch 6/215
Generated SQL for entry 61: SELECT T1.gender_code ,  COUNT(*) FROM customers AS T1 JOIN orders AS T2 ON T1.customer_id  =  T2.customer_id GROUP BY T1.gender_code
Generated SQL for entry 62: SELECT COUNT(order_id) ,  gender_code FROM Customers GROUP BY gender_code
Generated SQL for entry 63: SELECT customer_first_name, customer_middle_initial, customer_last_name, payment_method_code FROM Customers INNER JOIN Customer_Payment_Methods ON Customers.customer_id = Customer_Payment_Methods.customer_id
Generated SQL for entry 64: SELECT t1.customer_first_name, t1.customer_middle_initial, t1.customer_last_name, t2.payment_method_code FROM customers AS t1 JOIN customer_payment_methods AS t2 ON t1.customer_id  =  t2.customer_id
Generated SQL for entry 65: SELECT T2.invoice_status_code ,  T2.invoice_date ,  T3.shipment_date FROM Invoices AS T2 JOIN Shipments AS T3 ON T2.invoice_number  =  T3.invoice_number
Generated SQL for entry 66: SELECT `invoice_status_code`, `invoice_date`, `shipment_date` FROM `invoices` INNER JOIN `shipments` ON `invoices`.`invoice_number` = `shipments`.`invoice_number`
Generated SQL for entry 67: SELECT T3.product_name ,  T1.shipment_date FROM shipments AS T1 JOIN shipment_items AS T2 ON T1.shipment_id = T2.shipment_id JOIN products AS T3 ON T3.product_id = T2.order_item_id
Generated SQL for entry 68: SELECT p.product_name, s.shipment_date FROM Products p JOIN Shipment_Items si ON p.product_id = si.order_item_id JOIN Shipments s ON si.shipment_id = s.shipment_id
Generated SQL for entry 69: SELECT T1.order_item_status_code , T2.shipment_tracking_number FROM Order_Items AS T1 INNER JOIN Shipment_Items AS T2 ON T1.order_item_id  =  T2.order_item_id
Generated SQL for entry 70: SELECT S.shipment_tracking_number, OI.order_item_status_code
FROM Order_Items OI
JOIN Shipment_Items SI ON OI.order_item_id = SI.order_item_id
JOIN Shipments S ON SI.shipment_id = S.shipment_id
Processed batch 7/215
Generated SQL for entry 71: SELECT p.product_name, p.product_color FROM Products p JOIN Order_Items oi ON p.product_id = oi.product_id JOIN Shipments s ON oi.order_id = s.order_id
Generated SQL for entry 72: SELECT T1.product_name ,  T1.product_color FROM Products AS T1 JOIN Order_Items AS T2 ON T1.product_id = T2.product_id JOIN Shipments AS T3 ON T2.order_id = T3.order_id
Generated SQL for entry 73: SELECT DISTINCT T3.product_name, T3.product_price, T3.product_description FROM customers AS T1 JOIN orders AS T2 ON T1.customer_id  =  T2.customer_id JOIN order_items AS T4 ON T2.order_id  =  T4.order_id JOIN products AS T3 ON T4.product_id  =  T3.product_id WHERE T1.gender_code  =  'Female'
Generated SQL for entry 74: SELECT DISTINCT T2.product_name, T2.product_price FROM Customers AS T1 JOIN Order_Items AS T3 ON T1.customer_id  =  T3.order_id JOIN Products AS T2 ON T2.product_id  =  T3.product_id WHERE T1.gender_code  =  'Female'
Generated SQL for entry 75: SELECT T1.invoice_status_code FROM Invoices AS T1 INNER JOIN Orders AS T2 ON T1.invoice_number = T2.invoice_id WHERE T2.order_id NOT IN ( SELECT order_id FROM Shipments)
Generated SQL for entry 76: SELECT T1.invoice_status_code FROM Invoices AS T1 INNER JOIN Orders AS T2 ON T1.invoice_number = T2.invoice_id WHERE T2.order_id NOT IN ( SELECT T2.order_id FROM Orders AS T1 INNER JOIN Shipments AS T2 ON T1.order_id = T2.order_id )
Generated SQL for entry 77: SELECT o.order_id, o.date_order_placed, SUM(p.product_price) as total_cost FROM Orders o INNER JOIN Order_Items oi ON o.order_id = oi.order_id INNER JOIN Products p ON oi.product_id = p.product_id GROUP BY o.order_id, o.date_order_placed
Generated SQL for entry 78: SELECT T1.order_id , T1.date_order_placed , SUM(T2.product_price) as total_amount FROM Orders AS T1 JOIN Order_Items AS T2 ON T1.order_id  =  T2.order_id GROUP BY T1.order_id
Generated SQL for entry 79: SELECT count(DISTINCT T2.customer_id) FROM shipments AS T1 JOIN orders AS T2 ON T1.order_id = T2.order_id
Generated SQL for entry 80: SELECT count(DISTINCT customer_id) FROM Orders
Processed batch 8/215
Generated SQL for entry 81: To count the number of distinct order item states in the orders, you can use the following SQL query:

```sql
SELECT COUNT(DISTINCT order_item_status_code) as order_item_states_count
FROM Order_Items;
```
Generated SQL for entry 82: SELECT count(DISTINCT `order_item_status_code`) FROM `Order_Items`
Generated SQL for entry 83: SELECT count(DISTINCT payment_method_code) FROM Customer_Payment_Methods
Generated SQL for entry 84: SELECT COUNT(DISTINCT payment_method_code) FROM Customer_Payment_Methods
Generated SQL for entry 85: SELECT login_name ,  login_password FROM Customers WHERE phone_number LIKE '+12%'
Generated SQL for entry 86: SELECT login_name, login_password FROM Customers WHERE phone_number LIKE '+12%'
Generated SQL for entry 87: SELECT product_size FROM Products WHERE product_name LIKE '%Dell%'
Generated SQL for entry 88: SELECT product_size FROM Products WHERE product_name LIKE '%Dell%';
Generated SQL for entry 89: SELECT product_price, product_size FROM products WHERE product_price > ( SELECT AVG(product_price) FROM products )
Generated SQL for entry 90: SELECT product_price, product_size FROM Products WHERE product_price > (SELECT AVG(product_price) FROM Products);
Processed batch 9/215
Generated SQL for entry 91: SELECT count(DISTINCT product_id) - (SELECT count(DISTINCT product_id) FROM Orders JOIN Order_Items ON Orders.order_id  =  Order_Items.order_id) FROM Products
Generated SQL for entry 92: SELECT COUNT(DISTINCT product_id) FROM Products WHERE product_id NOT IN (SELECT product_id FROM Order_Items);
Generated SQL for entry 93: SELECT COUNT(*) FROM customers WHERE customer_id NOT IN (SELECT customer_id FROM customer_payment_methods)
Generated SQL for entry 94: SELECT COUNT(*) FROM customers WHERE customer_id NOT IN (SELECT customer_id FROM customer_payment_methods)
Generated SQL for entry 95: SELECT order_status_code ,  date_order_placed FROM ORDERS
Generated SQL for entry 96: SELECT order_status_code, date_order_placed FROM Orders
Generated SQL for entry 97: SELECT address_line_1,  town_city, county FROM Customers WHERE country = 'USA'
Generated SQL for entry 98: SELECT address_line_1, town_city, county FROM Customers WHERE country = 'USA'
Generated SQL for entry 99: SELECT T1.customer_first_name, T3.product_name FROM Customers AS T1 INNER JOIN Orders AS T2 ON T1.customer_id  =  T2.customer_id INNER JOIN Order_Items AS T4 ON T4.order_id  =  T2.order_id INNER JOIN Products AS T3 ON T4.product_id  =  T3.product_id
Generated SQL for entry 100: SELECT T1.customer_first_name ,  T2.product_name FROM customers AS T1 JOIN order_items AS T2 ON T1.customer_id  =  T2.order_id
Processed batch 10/215
Generated SQL for entry 101: SELECT count(*) FROM Shipment_Items
Generated SQL for entry 102: SELECT count(DISTINCT T2.product_id) FROM Shipments AS T1 INNER JOIN Order_Items AS T2 ON T1.order_id = T2.order_id
Generated SQL for entry 103: SELECT avg(product_price) FROM Products
Generated SQL for entry 104: SELECT AVG(product_price) FROM Products
Generated SQL for entry 105: SELECT AVG(T1.product_price) FROM products AS T1 JOIN order_items AS T2 ON T1.product_id = T2.product_id
Generated SQL for entry 106: SELECT AVG(T1.product_price) FROM Products AS T1 JOIN Order_Items AS T2 ON T1.product_id  =  T2.product_id
Generated SQL for entry 107: SELECT email_address, town_city ,  county FROM customers ORDER BY gender_code ASC LIMIT 1
Generated SQL for entry 108: SELECT T2.email_address , T2.town_city , T2.county FROM Orders AS T1 JOIN Customers AS T2 ON T1.customer_id  =  T2.customer_id GROUP BY T2.gender_code ORDER BY COUNT(*) ASC LIMIT 1
Generated SQL for entry 109: SELECT T3.date_order_placed FROM Customer_Payment_Methods AS T1 INNER JOIN Customers AS T2 ON T1.customer_id = T2.customer_id INNER JOIN Orders AS T3 ON T2.customer_id = T3.customer_id GROUP BY T2.customer_id HAVING count(*) >= 2
Generated SQL for entry 110: SELECT T3.date_order_placed FROM Customer_Payment_Methods AS T1 INNER JOIN Customers AS T2 ON T1.customer_id = T2.customer_id INNER JOIN Orders AS T3 ON T2.customer_id = T3.customer_id GROUP BY T2.customer_id HAVING COUNT(*)  >= 2
Processed batch 11/215
Generated SQL for entry 111: SELECT T1.order_status_code FROM ORDERS AS T1 JOIN `Order_Items` AS T2 ON T1.order_id = T2.order_id GROUP BY T1.order_status_code ORDER BY COUNT(T2.order_item_id) ASC LIMIT 1
Generated SQL for entry 112: SELECT order_status_code FROM Orders GROUP BY order_status_code ORDER BY count(*) ASC LIMIT 1
Generated SQL for entry 113: SELECT T1.product_id ,  T1.product_description FROM products AS T1 JOIN order_items AS T2 ON T1.product_id = T2.product_id GROUP BY T1.product_id HAVING COUNT(T1.product_id) > 3
Generated SQL for entry 114: SELECT product_id FROM Products WHERE product_id IN
(SELECT product_id FROM
(SELECT product_id, COUNT(*) as num_sold FROM Order_Items GROUP BY product_id HAVING COUNT(*) > 3) AS T1)
Generated SQL for entry 115: SELECT T2.invoice_date ,  T1.invoice_number FROM Shipments AS T1 JOIN Invoices AS T2 ON T1.invoice_number  =  T2.invoice_number GROUP BY T2.invoice_date, T2.invoice_number HAVING COUNT(*) >= 2
Generated SQL for entry 116: SELECT invoice_date ,  invoice_number FROM invoices INNER JOIN shipments ON invoices.invoice_number = shipments.invoice_number GROUP BY invoice_number HAVING COUNT(*) > 1
Generated SQL for entry 117: SELECT shipment_tracking_number ,  shipment_date FROM shipments
Generated SQL for entry 118: SELECT shipment_tracking_number, shipment_date FROM shipments
Generated SQL for entry 119: SELECT product_color, product_size FROM Products WHERE product_price < ( SELECT MAX(product_price) FROM Products )
Generated SQL for entry 120: SELECT product_color , product_size FROM Products WHERE product_price != ( SELECT max(product_price) FROM Products )
Processed batch 12/215
Generated SQL for entry 121: SELECT Name FROM director WHERE Age  >  (SELECT AVG(Age) FROM director)
Generated SQL for entry 122: SELECT Name FROM director ORDER BY Age DESC LIMIT 1
Generated SQL for entry 123: SELECT COUNT(*) FROM channel WHERE Internet LIKE '%bbc%'
Generated SQL for entry 124: SELECT count(DISTINCT Digital_terrestrial_channel) FROM channel WHERE Digital_terrestrial_channel  IS NOT NULL AND Digital_terrestrial_channel != ''
Generated SQL for entry 125: SELECT Title FROM program ORDER BY Start_Year DESC
Generated SQL for entry 126: SELECT T1.Name FROM director AS T1 JOIN program AS T2 ON T1.Director_ID  =  T2.Director_ID GROUP BY T2.Director_ID ORDER BY COUNT(*) DESC LIMIT 1
Generated SQL for entry 127: SELECT T1.Name, T1.Age FROM director AS T1 JOIN program AS T2 ON T1.Director_ID  =  T2.Director_ID GROUP BY T1.Name, T1.Age ORDER BY COUNT(*) DESC LIMIT 1
Generated SQL for entry 128: SELECT Title FROM program ORDER BY Start_Year DESC LIMIT 1
Generated SQL for entry 129: SELECT T2.Name, T2.Internet FROM program AS T1 JOIN channel AS T2 ON T1.Channel_ID  =  T2.Channel_ID GROUP BY T1.Channel_ID HAVING COUNT(*) > 1
Generated SQL for entry 130: SELECT T1.name ,  COUNT(*) FROM channel AS T1 JOIN program AS T2 ON T1.channel_id  =  T2.channel_id GROUP BY T1.name
Processed batch 13/215
Generated SQL for entry 131: SELECT COUNT(DISTINCT Channel_ID) FROM channel WHERE Channel_ID NOT IN (SELECT DISTINCT Channel_ID FROM program)
Generated SQL for entry 132: SELECT director.Name FROM director_program JOIN director ON director.Director_ID = director_program.Director_ID JOIN program ON program.Program_ID = director_program.Program_ID WHERE program.Title = "Dracula"
Generated SQL for entry 133: SELECT T2.name ,  T2.Internet FROM director_admin AS T1 JOIN channel AS T2 ON T1.channel_id  =  T2.channel_id JOIN director AS T3 ON T1.director_id  =  T3.director_id GROUP BY T3.director_id ORDER BY COUNT(*) DESC LIMIT 1
Generated SQL for entry 134: SELECT Name FROM director WHERE Age BETWEEN 30 AND 60
Generated SQL for entry 135: SELECT T1.name FROM channel AS T1 JOIN program AS T2 ON T1.channel_id  =  T2.channel_id JOIN director AS T3 ON T2.director_id  =  T3.director_id WHERE T3.age < 40 AND T3.age > 60
Generated SQL for entry 136: SELECT Channel_ID, name FROM channel WHERE director_id != (SELECT director_id FROM director WHERE name = "Hank Baskett")
Generated SQL for entry 137: SELECT COUNT(*) FROM radio
Generated SQL for entry 138: SELECT Transmitter FROM radio ORDER BY ERP_kW ASC
Generated SQL for entry 139: SELECT tv_show_name, original_airdate FROM tv_show
Generated SQL for entry 140: SELECT T3.Station_name FROM city_channel_tv_show AS T1 JOIN city_channel AS T2 ON T1.City_channel_ID  =  T2.ID JOIN radio AS T3 ON T3.Radio_ID  =  T1.Radio_ID WHERE T2.Affiliation  !=  'ABC'
Processed batch 14/215
Generated SQL for entry 141: SELECT transmitter FROM radio WHERE ERP_kW > 150 OR ERP_kW < 30
Generated SQL for entry 142: SELECT transmitter FROM radio ORDER BY ERP_kW DESC LIMIT 1
Generated SQL for entry 143: SELECT AVG(ERP_kW) FROM radio
Generated SQL for entry 144: SELECT Affiliation, count(*) FROM city_channel GROUP BY Affiliation
Generated SQL for entry 145: SELECT affiliation, count(*) AS frequency FROM city_channel GROUP BY affiliation ORDER BY frequency DESC LIMIT 1
Generated SQL for entry 146: SELECT affiliation FROM city_channel GROUP BY affiliation HAVING count(*)  >  3
Generated SQL for entry 147: SELECT T2.City, T2.Station_name FROM city_channel AS T1 INNER JOIN city_channel AS T2 ON T1.ID = T2.ID ORDER BY T2.Station_name ASC
Generated SQL for entry 148: SELECT Transmitter ,  City FROM city_channel AS T1 JOIN city_channel_radio AS T2 ON T1.ID  =  T2.City_channel_ID
Generated SQL for entry 149: SELECT T1.transmitter ,  T2.station_name FROM radio AS T1 JOIN city_channel_radio AS T3 ON T1.Radio_ID  =  T3.Radio_ID JOIN city_channel AS T2 ON T3.City_channel_ID  =  T2.ID ORDER BY T1.ERP_kW DESC
Generated SQL for entry 150: SELECT T1.transmitter ,  count(T3.city_channel_id) FROM radio AS T1 JOIN city_channel_radio AS T2 ON T1.Radio_ID  =  T2.Radio_ID JOIN city_channel AS T3 ON T3.ID  =  T2.city_channel_id GROUP BY T1.transmitter
Processed batch 15/215
Generated SQL for entry 151: SELECT DISTINCT Transmitter FROM radio WHERE radio_ID NOT IN (SELECT Radio_ID FROM city_channel_radio)
Generated SQL for entry 152: SELECT Model FROM vehicle WHERE Power > 6000 ORDER BY Top_Speed DESC LIMIT 1
Generated SQL for entry 153: SELECT Model FROM vehicle WHERE Power > 6000 ORDER BY Top_Speed DESC LIMIT 1
Generated SQL for entry 154: SELECT Name FROM driver WHERE Citizenship = "United States"

OutOfMemoryError: CUDA out of memory. Tried to allocate 4.33 GiB. GPU 1 has a total capacty of 14.75 GiB of which 3.28 GiB is free. Process 2656 has 11.46 GiB memory in use. Of the allocated memory 10.39 GiB is allocated by PyTorch, and 975.94 MiB is reserved by PyTorch but unallocated. If reserved but unallocated memory is large try setting max_split_size_mb to avoid fragmentation.  See documentation for Memory Management and PYTORCH_CUDA_ALLOC_CONF

In [1]:
import os
import subprocess
from IPython.display import FileLink, display
def download_file(path, download_file_name):
    os.chdir('/kaggle/working/')
    zip_name = f"/kaggle/working/{download_file_name}.zip"
    command = f"zip {zip_name} {path} -r"
    result = subprocess.run(command, shell=True, capture_output=True, text=True)
    if result.returncode != 0:
        print("Unable to run zip command!")
        print(result.stderr)
        return
    display(FileLink(f'{download_file_name}.zip'))

In [2]:
download_file('/kaggle/working/', 'out')

/kaggle/working/out.zip

In [13]:
with open('/kaggle/working/test_spider_with_generated_sql.json') as f:
    generated_data = json.load(f)

In [15]:
len(generated_data)

390